In [1]:
import os
import pickle
import pandas as pd
import numpy as np
import textstat
import stanza 
import re

# Load up SWC

This loads up sessions with clicks, starts extracting lexical characteristics, and extras all unique queries for more feature extraction.

In [2]:
searchFeatSWC = pickle.load( open( "Pickles/SearchFeatSWC.p", "rb" ) )
searchFeatSQS = pickle.load( open( "Pickles/SearchFeatSQS.p", "rb" ) )
vocabFeat = pickle.load( open( "Pickles/VocabFeat.p", "rb" ) )
lexFeat = pickle.load( open( "Pickles/LexFeat.p", "rb" ) )
synFeat = pickle.load( open( "Pickles/SynFeat.p", "rb" ) )
sPFeat = pickle.load( open( "Pickles/SPFeat.p", "rb" ) )

In [3]:
len(vocabFeat)

70114

In [4]:
searchFeatSWC.groupby('sID').count()

,query,timestamp,click,website,type,order,class,queryDistance,timeQueries,repeatQueries,...,allSameQueries,repeatClicks,uniqueClicks,allSameClicks,timeClicks,clickDistance,numQueries,numClicks,meanClickPosition,numClicksPerQuery
sID,,,,,,,,,,,,,,,,,,,,,
0,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
1,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
2,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
3,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
4,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39895,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,0,3,3,3,3,3
39896,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,0,8,8,8,8,8
39897,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,0,3,3,3,3,3
39898,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,0,9,9,9,9,9
39899,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,0,3,3,3,3,3

In [5]:
sPFeat = sPFeat.merge(vocabFeat)
synFeat = synFeat.merge(lexFeat)
searchFeat = synFeat.merge(sPFeat)

In [6]:
SWCAll = searchFeatSWC.merge(searchFeat, how='inner', on='query')

In [7]:
SQSAll = searchFeatSQS.merge(searchFeat, how='inner', on='query')

In [8]:
pickle.dump(SWCAll, open( "DataSets/SWCFeatures/SWCFeat.p", "wb" ) )
pickle.dump(SQSAll, open( "DataSets/SQSFeatures/SQSFeat.p", "wb" ) )

In [9]:
SWCQ = SWCAll[SWCAll['type'] == 'Q'].groupby('sID').mean()
SWCQ = SWCQ.drop(columns = ['order','queryDistance','timeQueries','repeatQueries','repeatClicks','clickDistance','meanClickPosition',
    'numClicks', 'numClicksPerQuery', 'numQueries', 'timeClicks', 'uniqueQueries','allSameClicks','uniqueClicks','allSameQueries'])

In [10]:
SWCC = SWCAll[SWCAll['type'] == 'C'].groupby('sID').mean()
SWCC = SWCC[['repeatClicks','clickDistance','meanClickPosition',
   'numClicks', 'numClicksPerQuery', 'numQueries', 'timeClicks', 'uniqueQueries','allSameClicks','uniqueClicks','allSameQueries']]

In [11]:
SWCC.head(10)

,repeatClicks,clickDistance,meanClickPosition,numClicks,numClicksPerQuery,numQueries,timeClicks,uniqueQueries,allSameClicks,uniqueClicks,allSameQueries
sID,,,,,,,,,,,
0,0.000000,20.666667,2.666667,3.0,1.000000,3.0,46.888889,1.0,0.0,3.0,1.0
1,0.000000,11.000000,1.000000,2.0,1.000000,2.0,36.333333,2.0,0.0,2.0,0.0
2,0.000000,14.666667,1.333333,3.0,1.000000,3.0,33.333333,3.0,0.0,3.0,0.0
3,0.000000,23.333333,2.000000,3.0,0.666667,2.0,0.000000,2.0,0.0,3.0,0.0
4,0.000000,26.000000,5.400000,5.0,0.200000,1.0,23.433333,1.0,0.0,5.0,-1.0
5,0.000000,22.200000,2.200000,5.0,0.800000,4.0,27.850000,4.0,0.0,5.0,0.0
6,0.000000,25.500000,2.000000,2.0,2.000000,4.0,52.500000,4.0,0.0,2.0,0.0
7,0.222222,21.333333,41.888889,9.0,0.333333,3.0,8.018519,1.0,0.0,7.0,1.0
8,0.333333,25.333333,4.333333,3.0,0.333333,1.0,27.000000,1.0,0.0,2.0,-1.0
9,0.200000,23.800000,3.000000,5.0,0.400000,2.0,35.633333,2.0,0.0,4.0,0.0

In [12]:
SWCCQ = SWCAll[SWCAll['type'] == 'Q'].groupby('sID')[['queryDistance','timeQueries','repeatQueries']].mean()

In [13]:
SWCC = SWCC.join(SWCCQ)

In [14]:
SWCAll = SWCQ.join(SWCC).fillna(0)

In [15]:
SQSAll = SQSAll.reset_index()

In [16]:
SQSAll = SQSAll.fillna(0)

In [17]:
SQSAll['class'] = SQSAll['index'].apply(lambda x: 0 if x < 1203 else 1)

In [18]:
SQSAll = SQSAll.drop(columns = ['index', 'query'])

In [19]:
SQSAll

,queryDistance,timeQueries,repeatQueries,repeatClicks,clickDistance,meanClickPosition,numClicks,numClicksPerQuery,numQueries,timeClicks,...,net,org,edu,gov,http,AND,OR,quotes,inter,class
0,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,0,0
1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,0,0
2,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,0,0
3,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,0,0
4,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1500,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,1,1
1501,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,1,1
1502,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,1,0,1
1503,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,1,1
1504,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,1,1

In [20]:
pickle.dump(SWCAll, open( "DataSets/SWCFeatures/SWCFeat.p", "wb" ) )
pickle.dump(SQSAll, open( "DataSets/SQSFeatures/SQSFeat.p", "wb" ) )

In [21]:
SWCAll

,class,cc,cd,dt,ex,fw,in,jj,jjr,jjs,...,numClicksPerQuery,numQueries,timeClicks,uniqueQueries,allSameClicks,uniqueClicks,allSameQueries,queryDistance,timeQueries,repeatQueries
sID,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.000000,0.0,0.333333,0.0,0.0,0.333333,0.000000,0.0,0.0,...,1.000000,3.0,46.888889,1.0,0.0,3.0,1.0,0.000000,82.333333,0.666667
1,1.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,...,1.000000,2.0,36.333333,2.0,0.0,2.0,0.0,6.500000,78.500000,0.000000
2,1.0,0.000000,0.0,0.000000,0.0,0.0,0.083333,0.083333,0.0,0.0,...,1.000000,3.0,33.333333,3.0,0.0,3.0,0.0,9.333333,56.666667,0.000000
3,1.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.333333,0.0,0.0,...,0.666667,2.0,0.000000,2.0,0.0,3.0,0.0,5.000000,51.000000,0.000000
4,1.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.250000,0.0,0.0,...,0.200000,1.0,23.433333,1.0,0.0,5.0,-1.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39895,0.0,0.000000,0.0,0.000000,0.0,0.0,0.250000,0.000000,0.0,0.0,...,2.000000,2.0,0.000000,1.0,-1.0,1.0,1.0,0.000000,10.000000,0.500000
39896,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.3,...,1.666667,5.0,0.000000,2.0,0.0,3.0,0.0,1.200000,33.600000,0.600000
39897,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.166667,0.0,0.0,...,2.000000,2.0,0.000000,1.0,-1.0,1.0,1.0,0.000000,15.500000,0.500000
39898,0.0,0.000000,0.0,0.000000,0.0,0.0,0.250000,0.000000,0.0,0.0,...,1.250000,5.0,0.000000,1.0,0.0,4.0,1.0,0.000000,28.400000,0.800000
39899,0.0,0.142857,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,...,2.000000,2.0,0.000000,1.0,-1.0,1.0,1.0,0.000000,3.500000,0.500000