In [1]:
import pandas as pd
import pickle

# Results

In [2]:
ablSWC = pickle.load( open( "../Experiments/Pickles/AblationSWC.p", "rb" ) )
ablSQS = pickle.load( open( "../Experiments/Pickles/AblationSQS.p", "rb" ) )
baseSWC = pickle.load( open( "../Experiments/Pickles/BaselineSWC.p", "rb" ) )
baseSQS = pickle.load( open( "../Experiments/Pickles/BaselineSQS.p", "rb" ) )
ABQRYSe = pickle.load( open("../Experiments/Pickles/AccByQueryCount.p","rb"))
ABQBaseline = pickle.load( open("../Experiments/Pickles/OutputMultiModelSWCAccByQ.p","rb"))

# Significance Tests

In [3]:
sigAblSWC = pickle.load( open( "../Experiments/Pickles/SigAblationSWC.p", "rb" ) )
sigAblSQS = pickle.load( open( "../Experiments/Pickles/SigAblationSQS.p", "rb" ) )
sigBaseSWC = pickle.load( open( "../Experiments/Pickles/SigBaselineSWC.p", "rb" ) )
sigBaseSQS = pickle.load( open( "../Experiments/Pickles/SigBaselineSQS.p", "rb" ) )
sigByQ = pickle.load( open( "../Experiments/Pickles/SigByQ.p", "rb" ) )

ablSWC['Sig'] = sigAblSWC
ablSQS['Sig'] = sigAblSQS
baseSWC['Sig'] = sigBaseSWC
baseSQS['Sig'] = sigBaseSQS
ABQBaseline['Sig'] = sigByQ

# Format Tables

In [4]:
baseSWC = pd.concat([ablSWC[ablSWC['Type']=='RYSe'],baseSWC])
baseSQS = pd.concat([ablSQS[ablSQS['Type']=='RYSe'],baseSQS])

ablSWCTrimmed = ablSWC[['Type','Acc', 'TNR', 'TPR', 'Sig'] ]
ablSQSTrimmed = ablSQS[['Type','Acc', 'TNR', 'TPR', 'Sig'] ]
baseSWCTrimmed = baseSWC[['Type','Acc', 'TNR', 'TPR', 'Sig'] ]
baseSQSTrimmed = baseSQS[['Type','Acc', 'TNR', 'TPR', 'Sig'] ]
ABQRYSeTrimmed = ABQRYSe[['Acc', 'TNR', 'TPR' ]]
ABQBaselineTrimmed = ABQBaseline[['Acc', 'TNR', 'TPR', 'Sig']]

ablSWCTrimmed.set_index("Type", inplace= True)
ablSQSTrimmed.set_index("Type", inplace= True)
baseSWCTrimmed.set_index("Type", inplace= True)
baseSQSTrimmed.set_index("Type", inplace= True)

# Experiment Results

In [8]:
ablSWCTrimmed

                Acc    TNR    TPR    Sig
Type
RYSe          0.943  0.988  0.767  False
P3            0.944  0.983  0.788  False
DC1           0.890  0.987  0.502   True
TextBased     0.940  0.985  0.759   True
SessionBased  0.786  0.947  0.145   True

In [9]:
ablSQSTrimmed

                Acc    TNR    TPR    Sig
Type
RYSe          0.876  0.985  0.439  False
P3            0.809  0.993  0.073   True
DC1           0.873  0.983  0.430   True
TextBased     0.829  0.992  0.175   True
SessionBased  0.800  1.000  0.000  False

In [10]:
baseSWCTrimmed

                Acc    TNR    TPR    Sig
Type
RYSe          0.943  0.988  0.767  False
Majority      0.800  1.000  0.000   True
Rule          0.904  0.998  0.523   True
Text          0.858  0.995  0.308   True
MultiFeature  0.914  0.941  0.807   True
MultiModel    0.934  0.989  0.711   True

In [11]:
baseSQSTrimmed

                Acc    TNR    TPR    Sig
Type
RYSe          0.876  0.985  0.439  False
Majority      0.800  1.000  0.000   True
Rule          0.794  1.000  0.000   True
Text          0.785  0.983  0.153   True
MultiFeature  0.833  0.987  0.217   True
MultiModel    0.834  0.997  0.184   True

In [12]:
ABQRYSeTrimmed

           Acc    TNR    TPR
numQ
1     0.943752  0.983  0.834
2     0.929356  0.984  0.746
3     0.936579  0.987  0.698
4     0.937667  0.995  0.561
5     0.952296  0.995  0.609
6+    0.971927  0.997  0.500

In [13]:
ABQBaselineTrimmed

           Acc    TNR    TPR    Sig
numQ
1     0.936772  0.977  0.823  False
2     0.921143  0.956  0.805   True
3     0.907868  0.931  0.799   True
4     0.896129  0.923  0.720   True
5     0.902859  0.917  0.788   True
6+    0.850342  0.857  0.722   True