In [1]:
import pandas as pd
import pickle

# Results

In [2]:
ablSWC = pickle.load( open( "../Experiments/Pickles/AblationSWC.p", "rb" ) )
ablSQS = pickle.load( open( "../Experiments/Pickles/AblationSQS.p", "rb" ) )
baseSWC = pickle.load( open( "../Experiments/Pickles/BaselineSWC.p", "rb" ) )
baseSQS = pickle.load( open( "../Experiments/Pickles/BaselineSQS.p", "rb" ) )
ABQRYSe = pickle.load( open("../Experiments/Pickles/AccByQueryCount.p","rb"))
ABQBaseline = pickle.load( open("../Experiments/Pickles/OutputMultiModelSWCAccByQ.p","rb"))

In [30]:
ABQBaseline
ABQBaseline['TP'].sum() + ABQBaseline['FN'].sum()

1323.8

In [29]:
ABQRYSe['TP'].sum() + ABQRYSe['FN'].sum()

1323.8

In [31]:
baseSWC

           Type    Acc      TN     FP    TNR      FN      TP    TPR    Sig
0          RYSe  0.952  5219.6   56.2  0.989   258.0  1065.8  0.805  False
0      Majority  0.799  5275.8    0.0  1.000  1323.8     0.0  0.000   True
1          Rule  0.903  5268.2    7.6  0.999   630.2   693.6  0.524   True
2          Text  0.856  5246.2   29.6  0.994   921.8   402.0  0.304   True
3  MultiFeature  0.916  4972.6  303.2  0.943   248.4  1075.4  0.812   True
4    MultiModel  0.935  5222.4   53.4  0.990   372.6   951.2  0.719   True

# Significance Tests

In [4]:
sigAblSWC = pickle.load( open( "../Experiments/Pickles/SigAblationSWC.p", "rb" ) )
sigAblSQS = pickle.load( open( "../Experiments/Pickles/SigAblationSQS.p", "rb" ) )
sigBaseSWC = pickle.load( open( "../Experiments/Pickles/SigBaselineSWC.p", "rb" ) )
sigBaseSQS = pickle.load( open( "../Experiments/Pickles/SigBaselineSQS.p", "rb" ) )
sigByQ = pickle.load( open( "../Experiments/Pickles/SigByQ.p", "rb" ) )

In [5]:
ablSWC['Sig'] = sigAblSWC

In [6]:
ablSQS['Sig'] = sigAblSQS

In [7]:
baseSWC['Sig'] = sigBaseSWC

In [8]:
baseSQS['Sig'] = sigBaseSQS

In [9]:
ABQBaseline['Sig'] = sigByQ

# Format Tables

In [10]:
baseSWC = pd.concat([ablSWC[ablSWC['Type']=='RYSe'],baseSWC])

In [11]:
baseSQS = pd.concat([ablSQS[ablSQS['Type']=='RYSe'],baseSQS])

In [19]:
ablSWCTrimmed = ablSWC[['Type','Acc', 'TNR', 'TPR', 'Sig'] ]
ablSQSTrimmed = ablSQS[['Type','Acc', 'TNR', 'TPR', 'Sig'] ]
baseSWCTrimmed = baseSWC[['Type','Acc', 'TNR', 'TPR', 'Sig'] ]
baseSQSTrimmed = baseSQS[['Type','Acc', 'TNR', 'TPR', 'Sig'] ]
ABQRYSeTrimmed = ABQRYSe[['Acc', 'TNR', 'TPR' ]]
ABQBaselineTrimmed = ABQBaseline[['Acc', 'TNR', 'TPR', 'Sig']]

In [20]:
ablSWCTrimmed.set_index("Type", inplace= True)
ablSQSTrimmed.set_index("Type", inplace= True)
baseSWCTrimmed.set_index("Type", inplace= True)
baseSQSTrimmed.set_index("Type", inplace= True)

# Experiment Results

In [21]:
ablSWCTrimmed

                Acc    TNR    TPR    Sig
Type
RYSe          0.952  0.989  0.805  False
P3            0.940  0.982  0.771   True
DC1           0.888  0.986  0.495  False
TextBased     0.937  0.984  0.748  False
SessionBased  0.857  0.928  0.575   True

In [22]:
ablSQSTrimmed

                Acc    TNR    TPR    Sig
Type
RYSe          0.879  0.996  0.410  False
P3            0.814  0.996  0.092   True
DC1           0.835  0.991  0.212   True
TextBased     0.823  0.996  0.133   True
SessionBased  0.799  1.000  0.000   True

In [23]:
baseSWCTrimmed

                Acc    TNR    TPR    Sig
Type
RYSe          0.952  0.989  0.805  False
Majority      0.799  1.000  0.000   True
Rule          0.903  0.999  0.524   True
Text          0.856  0.994  0.304   True
MultiFeature  0.916  0.943  0.812   True
MultiModel    0.935  0.990  0.719   True

In [24]:
baseSQSTrimmed

                Acc    TNR    TPR    Sig
Type
RYSe          0.879  0.996  0.410  False
Majority      0.800  1.000  0.000   True
Rule          0.800  1.000  0.000   True
Text          0.808  1.000  0.044   True
MultiFeature  0.832  0.992  0.191   True
MultiModel    0.834  0.998  0.176   True

In [25]:
ABQRYSeTrimmed

           Acc    TNR    TPR
numQ
1     0.950580  0.985  0.854
2     0.940351  0.987  0.789
3     0.951205  0.992  0.760
4     0.950471  0.994  0.670
5     0.956534  0.996  0.647
6+    0.978321  0.997  0.616

In [27]:
ABQBaselineTrimmed

           Acc    TNR    TPR    Sig
numQ
1     0.942348  0.982  0.829  False
2     0.921386  0.956  0.807   True
3     0.913818  0.936  0.814   True
4     0.892020  0.918  0.727   True
5     0.899085  0.911  0.807   True
6+    0.849900  0.857  0.713   True