In [1]:
import os
import pickle
import pandas as pd
import numpy as np
import textstat
import stanza 
import re

# Load up SWC

This loads up sessions with clicks, starts extracting lexical characteristics, and extras all unique queries for more feature extraction.

In [2]:
searchFeatSWC = pickle.load( open( "Pickles/SearchFeatSWC.p", "rb" ) )
searchFeatSQS = pickle.load( open( "Pickles/SearchFeatSQS.p", "rb" ) )
vocabFeat = pickle.load( open( "Pickles/VocabFeat.p", "rb" ) )
lexFeat = pickle.load( open( "Pickles/LexFeat.p", "rb" ) )
synFeat = pickle.load( open( "Pickles/SynFeat.p", "rb" ) )
sPFeat = pickle.load( open( "Pickles/SPFeat.p", "rb" ) )

In [3]:
searchFeatSWC[searchFeatSWC['numQueries'] == 0]

Empty DataFrame
Columns: [sID, query, timestamp, click, website, type, order, class, queryDistance, timeQueries, repeatQueries, uniqueQueries, allSameQueries, repeatClicks, uniqueClicks, allSameClicks, timeClicks, clickDistance, numQueries, numClicks, meanClickPosition, numClicksPerQuery]
Index: []

[0 rows x 22 columns]

In [4]:
searchFeatSWC.groupby('sID').count()

,query,timestamp,click,website,type,order,class,queryDistance,timeQueries,repeatQueries,...,allSameQueries,repeatClicks,uniqueClicks,allSameClicks,timeClicks,clickDistance,numQueries,numClicks,meanClickPosition,numClicksPerQuery
sID,,,,,,,,,,,,,,,,,,,,,
0,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
1,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
2,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
3,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
4,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39895,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,0,3,3,3,3,3
39896,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,0,8,8,8,8,8
39897,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,0,3,3,3,3,3
39898,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,0,9,9,9,9,9
39899,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,0,3,3,3,3,3

In [5]:
sPFeat = sPFeat.merge(vocabFeat)
synFeat = synFeat.merge(lexFeat)
searchFeat = synFeat.merge(sPFeat)

In [6]:
SWCAll = searchFeatSWC.merge(searchFeat, how='inner', on='query')

In [7]:
SQSAll = searchFeatSQS.merge(searchFeat, how='inner', on='query')

In [8]:
SWCAll[SWCAll['numQueries'] == 0]

Empty DataFrame
Columns: [sID, query, timestamp, click, website, type, order, class, queryDistance, timeQueries, repeatQueries, uniqueQueries, allSameQueries, repeatClicks, uniqueClicks, allSameClicks, timeClicks, clickDistance, numQueries, numClicks, meanClickPosition, numClicksPerQuery, cc, cd, dt, ex, fw, in, jj, jjr, jjs, ls, md, nn, nnp, nnps, nns, pdt, pos, prp, rb, rbr, rbs, rp, sym, to, uh, vb, vbd, vbg, vbn, vbp, vbz, wdt, wp, wrb, nn nn, jj nn, nn nns, to vb, jj nns, jj to, nn in, nns in, in nn, dt nn, jj nn nn, nn nn nn, jj to vb, nn nn nns, to vb nn, Filename,  Level0,  Level1,  Level2,  Level3,  Level4,  Level5,  Level6,  Level7,  MeanLevel, totalSyl, avgSyl, simWords, comWords, greatestSyl, leastSyl, numChars, numWords, avgLenWord, ld, ls1, ls2, vs1, vs2, cvs1, ndw, ttr, cttr, rttr, ...]
Index: []

[0 rows x 146 columns]

In [9]:
pickle.dump(SWCAll, open( "DataSets/SWCFeatures/SWCFeat.p", "wb" ) )
pickle.dump(SQSAll, open( "DataSets/SQSFeatures/SQSFeat.p", "wb" ) )

In [10]:
SWCQ = SWCAll[SWCAll['type'] == 'Q'].groupby('sID').mean()
SWCQ = SWCQ.drop(columns = ['order','queryDistance','timeQueries','repeatQueries','repeatClicks','clickDistance','meanClickPosition',
    'numClicks', 'numClicksPerQuery', 'numQueries', 'timeClicks', 'uniqueQueries','allSameClicks','uniqueClicks','allSameQueries'])

In [11]:
SWCC = SWCAll.groupby('sID').mean()
SWCC = SWCC[['repeatClicks','clickDistance','meanClickPosition',
   'numClicks', 'numClicksPerQuery', 'numQueries', 'timeClicks', 'uniqueQueries','allSameClicks','uniqueClicks','allSameQueries']]

In [12]:
SWCC[SWCC['numClicks']==0]

Empty DataFrame
Columns: [repeatClicks, clickDistance, meanClickPosition, numClicks, numClicksPerQuery, numQueries, timeClicks, uniqueQueries, allSameClicks, uniqueClicks, allSameQueries]
Index: []

In [13]:
SWCCQ = SWCAll[SWCAll['type'] == 'Q'].groupby('sID')[['queryDistance','timeQueries','repeatQueries']].mean()

In [14]:
SWCC = SWCC.join(SWCCQ)

In [15]:
SWCAll = SWCQ.join(SWCC).fillna(0)

In [16]:
SQSAll = SQSAll.reset_index()

In [17]:
SQSAll = SQSAll.fillna(0)

In [18]:
SWCAll[SWCAll['numClicks']==0]['class'].value_counts()

Series([], Name: class, dtype: int64)

In [19]:
SQSAll['class'] = SQSAll['index'].apply(lambda x: 0 if x < 1203 else 1)

In [20]:
SQSAll = SQSAll.drop(columns = ['index', 'query'])

In [21]:
SQSAll

,queryDistance,timeQueries,repeatQueries,repeatClicks,clickDistance,meanClickPosition,numClicks,numClicksPerQuery,numQueries,timeClicks,...,net,org,edu,gov,http,AND,OR,quotes,inter,class
0,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,0,0
1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,0,0
2,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,0,0
3,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,0,0
4,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1500,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,1,1
1501,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,1,1
1502,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,1,0,1
1503,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,1,1
1504,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,...,0,0,0,0,0,0,0,0,1,1

In [22]:
pickle.dump(SWCAll, open( "DataSets/SWCFeatures/SWCFeat.p", "wb" ) )
pickle.dump(SQSAll, open( "DataSets/SQSFeatures/SQSFeat.p", "wb" ) )

In [23]:
SWCAll[SWCAll['numQueries']==0]

Empty DataFrame
Columns: [class, cc, cd, dt, ex, fw, in, jj, jjr, jjs, ls, md, nn, nnp, nnps, nns, pdt, pos, prp, rb, rbr, rbs, rp, sym, to, uh, vb, vbd, vbg, vbn, vbp, vbz, wdt, wp, wrb, nn nn, jj nn, nn nns, to vb, jj nns, jj to, nn in, nns in, in nn, dt nn, jj nn nn, nn nn nn, jj to vb, nn nn nns, to vb nn,  Level0,  Level1,  Level2,  Level3,  Level4,  Level5,  Level6,  Level7,  MeanLevel, totalSyl, avgSyl, simWords, comWords, greatestSyl, leastSyl, numChars, numWords, avgLenWord, ld, ls1, ls2, vs1, vs2, cvs1, ndw, ttr, cttr, rttr, logttr, lv, vv1, svv1, cvv1, vv2, nv, adjv, numSpellingErrors, offByOne, kidsError, punct, casing, coreVocab, nonCoreVocab, vocabMin, vocabMax, queryComplexity, addVocab, SVEN, top250All, top250avgAll, ...]
Index: []

[0 rows x 138 columns]